<h2>Product List</h2>
<div *ngIf="!products">Loading...</div>
<div *ngIf="products">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Amount due</th>
    </tr>
    <tr *ngFor="let p of products">
      <td>{{p.name}}</td>
      <td>{{p.description}}</td>
      <td>{{p.category}}</td>
      <td class="price">{{p.price | number:'1.2'}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.amountDue | currency}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td>{{total | currency}}</td>
    </tr>
  </table>
  <p *ngIf="message">{{message}}</p>
  <app-add-product></app-add-product>
</div>
